.pc-wrapper {
  .product-banner {
    .vid-ads {
      position: relative;
      height: 450px;
      width: 100%;
      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      .container {
        .info {
          position: absolute;
          left: 10%;
          bottom: 15%;
          & > div:nth-child(1) {
            color: white;
            font-weight: bold;
            font-size: 40px;
            letter-spacing: 2px;
            text-shadow: 4px 4px 0px black;
          }
          & > div:nth-child(2) {
            color: gray;
            font-weight: bold;
            font-size: 30px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 0px white;
          }
        }
      }
    }
  }
  .container {
    .products-page {
      height: auto;
      width: 100%;
      user-select: none;
      padding-bottom: 50px;
      .navigator {
        margin: 30px 0;
        .navigator-name {
          font-weight: bold;
          font-size: 27px;
          padding-bottom: 20px;
        }
        .path-history {
          font-weight: 600;
          a {
            text-decoration: none;
            color: gray;
          }
        }
        .sort {
          width: auto;
          > div:nth-child(1) {
            width: 150px;
            font-size: 14px;
            margin-right: 5px;
          }
        }
      }
      .control-panel {
        background-color: rgb(212, 208, 208);
        width: 25%;
        padding: 20px;
        > div:nth-child(1) {
          font-weight: 600;
        }
        .input-box {
          position: relative;
          display: flex;
          margin-bottom: 20px;
          .search-input {
            margin-top: 10px;
            padding: 18px 14px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #ddd;
            padding: 0 0 0 30px;
          }
          img {
            position: absolute;
            left: 10px;
            top: 22px;
            width: 20px;
            height: 20px;
          }
        }
        .core-sec {
          > div:nth-child(1) {
            gap: 13px;
            padding: 15px;
            font-weight: 600;
          }
          img {
            height: 20px;
            width: 20px;
          }
        }
        .checkbox-item {
          padding: 0 0px 0 25px;
          font-size: 10px;
          .checkbox {
            padding: 0px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
