.pc-wrapper {
  .main {
    .my-page {
      .container {
        .tab-panel {
          flex: 1;
          margin-right: 20px;
          .favority {
            .favority-title {
              color: white;
              .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
                letter-spacing: 1px;
              }
              .subtitle {
                font-weight: 600;
                font-size: 16px;
                color: #7d7a7a;
              }
            }
            .favority-products {
              margin-top: 30px;
              flex-direction: row;
              gap: 20px;
              flex-wrap: wrap;
            }
            .pagination-box {
              align-items: center;
              margin-top: 30px;
              .css-15k5uk4-MuiButtonBase-root-MuiPaginationItem-root {
                color: rgb(212, 206, 206);
                border-color: rgb(78, 75, 75);
              }
            }
          }
          .notification {
            .notification-head {
              color: white;
              .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
                letter-spacing: 1px;
              }
            }
            .notify-body {
              .notify-category {
                flex-direction: row;
                gap: 10px;
                button {
                  background-color: #7d7a7a;
                  color: white;
                  width: 100px;
                  padding: 10px 0;
                }
                .on {
                  background-color: #d77b3d;
                }
              }
              .notify-items {
                margin-top: 20px;
                .notify-item {
                  color: white;
                  background-color: #484646;
                  margin: 0;
                  img {
                    height: 40px;
                    width: 40px;
                    border-radius: 5px;
                  }
                  .notify-item-title {
                    font-size: 16px;
                  }
                  .notify-item-body {
                    background-color: #595656;
                    margin: 20px;
                  }
                }
              }
            }
          }
          .follow {
            .follow-head {
              color: white;
              .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
                letter-spacing: 1px;
              }
              .subtitle {
                font-weight: 600;
                font-size: 16px;
                color: #7d7a7a;
              }
            }
            .follow-body {
              margin-top: 20px;
              table {
                background-color: #595656;
                border-radius: 5px;
                .table-head {
                  .th-item {
                    font-weight: 600;
                    color: white;
                    letter-spacing: 1px;
                    font-size: 18px;
                  }
                }
                .tb-item {
                  color: white;
                }
                .tb-item-btn {
                  button {
                    margin-left: 10px;
                    color: white;
                  }
                }
              }
            }
          }
          .article {
            .article-head {
              color: white;
              .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
                letter-spacing: 1px;
              }
              .subtitle {
                font-weight: 600;
                font-size: 16px;
                color: #7d7a7a;
              }
            }
            .article-body {
              margin-top: 40px;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 20px;
            }
          }
          .write-article {
            .write-article-head {
              color: white;
              .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
                letter-spacing: 1px;
              }
              .subtitle {
                font-weight: 600;
                font-size: 16px;
                color: #7d7a7a;
              }
            }
            .write-article-body {
              .select-inputs {
                justify-content: space-evenly;
                flex-direction: row;
                margin-top: 30px;
                .select-category {
                  padding: 10px;
                  font-size: 20px;
                  letter-spacing: 2px;
                }
              }
              .article-submit {
                button {
                  background-color: #d77b3d;
                  width: 300px;
                  padding: 15px 0;
                  margin-top: 20px;
                  color: white;
                  font-size: 18px;
                  font-weight: 600;
                  letter-spacing: 1px;
                }
              }
            }
          }
          .myprofile {
            background-color: #595656;
            border-radius: 100px 0 0 0;
            .myprofile-head {
              color: white;
              background-image: url("/img/banner/account-banner.jpg");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height: 250px;
              border-radius: 100px 0 0 0;
              padding: 20px;
              .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
                letter-spacing: 1px;
                margin-top: 80px;
                margin-left: 40px;
              }
              .subtitle {
                font-weight: 600;
                font-size: 16px;
                color: white;
                margin-left: 40px;
              }
            }
            .myprofile-body {
              padding: 20px;
              position: relative;
              width: 100%;
              .member-image {
                position: absolute;
                padding: 0 30px;
                width: 95%;
                top: -50px;
                flex-direction: row;
                align-items: end;
                justify-content: space-between;
                .member-set {
                  position: relative;
                  .image-icon {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 50px;
                    height: 50px;
                    width: 50px;
                    background-color: gray;
                    input {
                      position: absolute;
                      left: 7px;
                      opacity: 0;
                    }
                  }
                }
                button {
                  background-color: #d77b3d;
                  width: 150px;
                  padding: 10px;
                  color: white;
                  font-weight: 500;
                  font-size: 16px;
                }
              }
              .member-edit {
                margin-top: 100px;
                .info-part-one {
                  flex-direction: row;
                  gap: 20px;
                  input {
                    padding: 10px 5px;
                  }
                }
                .info-part-two {
                  margin-top: 10px;
                  .edit-bio {
                    margin-top: 20px;
                    .edit-label {
                      font-weight: 600;
                      font-size: 18px;
                    }
                    textarea {
                      width: 100%;
                      border-radius: 5px;
                      padding: 10px;
                      font-size: 16px;
                      resize: none;
                      overflow-y: auto;
                    }
                  }
                }
              }
            }
          }
          .add-product {
            .add-product-head {
              color: white;
              .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
                letter-spacing: 1px;
              }
              .subtitle {
                font-weight: 600;
                font-size: 16px;
                color: #7d7a7a;
              }
            }
            .add-poduct-body {
              .add-title {
                margin-top: 20px;
                font-size: 25px;
                font-weight: 600;
                color: white;
              }
              .add-insert {
                padding: 10px;
                flex-direction: row;
                gap: 20px;
                .add-label {
                  font-size: 18px;
                  color: white;
                }
              }
              .product-desc {
                textarea {
                  resize: none;
                  overflow-y: auto;
                  width: 100%;
                  border-radius: 10px;
                  padding: 10px;
                  margin-top: 20px;
                  font-size: 16px;
                }
              }
              .upload-images {
                position: relative;
                margin-top: 20px;
                border: 1px dashed white;
                border-radius: 30px;
                height: 300px;
                color: white;
                align-items: center;
                .drag-dropper {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  border-radius: 30px;
                  height: 100%;
                  width: 100%;
                  z-index: 100;
                }
                .title {
                  font-weight: 600;
                  font-size: 16px;
                }
                .drag-icon {
                  font-size: 100px;
                }
                button {
                  width: 200px;
                  background-color: #d77b3d;
                  color: white;
                  font-size: 20px;
                  letter-spacing: 1px;
                }
              }
              .product-images {
                flex-direction: row;
                gap: 10px;
                height: auto;
                padding: 20px;
                background-color: #595656;
                margin-top: 20px;
                border-radius: 20px;
                img {
                  width: 200px;
                  border-radius: 10px;
                  box-shadow: 0 0 5px black;
                  height: 200px;
                }
              }
              .submit-btn {
                button {
                  background-color: #d77b3d;
                  color: white;
                  padding: 10px;
                  width: 200px;
                  margin-top: 10px;
                  border-radius: 5px;
                  font-weight: 600;
                  font-size: 20px;
                  align-self: end;
                  letter-spacing: 1px;
                }
              }
            }
          }
          .all-products {
            .all-products-head {
              color: white;
              .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
                letter-spacing: 1px;
              }
              .subtitle {
                font-weight: 600;
                font-size: 16px;
                color: #7d7a7a;
              }
            }
            .all-products-body {
              .tab-list {
                align-items: center;
                background-color: #8b8a8a;
                border-radius: 10px 10px 0 0;
                margin-top: 20px;
                .tab-item {
                  color: #ef5e24;
                  font-weight: 600;
                }
                .MuiTabs-indicator {
                  background-color: #ef5e24;
                }
              }
              .tab-item {
                color: white;
                font-weight: 600;
                letter-spacing: 1px;
              }
              .trow-item {
                color: white;
                img {
                  width: 80px;
                  height: 60px;
                }
                .title {
                  font-weight: 600;
                }
                .subtitle {
                  color: #7d7a7a;
                }
              }
              .status {
                .status-btn {
                  background-color: #d77b3d;
                  color: white;
                  border-radius: 5px;
                  padding: 4px;
                  width: 70px;
                }
              }
              .action-btn {
                flex-direction: row;
                gap: 10px;
                justify-content: center;
                button {
                  color: white;
                }
              }
              .avb {
                text-align: center;
                margin-top: 10px;
                color: white;
              }
            }
          }
        }
        .account-nav {
          background-color: #595656;
          border-radius: 10px;
          max-height: 800px;
          width: 300px;
          padding: 20px;
          .account-info {
            flex-direction: row;
            gap: 20px;
            align-items: center;
            color: white;
            margin-bottom: 10px;
            .account-item {
              flex-direction: row;
              gap: 5px;
              align-items: center;
              font-size: 18px;
              letter-spacing: 1px;
              .account-type {
                color: rgb(230, 133, 7);
                font-weight: 600;
              }
            }
          }
          .follow-btn {
            background-color: #f4705b;
            color: white;
            font-weight: 600;
            padding: 10px;
            margin: 10px 0;
            letter-spacing: 1px;
          }
          .account-manage {
            margin: 15px 0;
            .title {
              letter-spacing: 1px;
              font-size: 20px;
              color: white;
            }
            .tab-list {
              margin: 5px 10px;
              .tab-list-item {
                justify-content: start;
                width: 100%;
                color: white;
                font-weight: 600;
                letter-spacing: 1px;
                padding: 10px;
                font-size: 16px;
              }
              .on {
                background-color: #d77b3d;
              }
              .off {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
