@import "../../variables.scss";

.pc-wrapper {
  .main {
    .home-page {
      .brands {
        background-color: #201f2f;
        padding: 50px 0;
        .info {
          .title {
            font-size: 30px;
            letter-spacing: 1px;
            color: white;
          }
          .subtitle {
            margin-top: 10px;
            letter-spacing: 1px;
            color: rgb(173, 169, 169);
          }
        }
        .brand-list {
          padding: 50px 0;
          .control-panel {
            .css-y8iohq-MuiTabs-indicator {
              background-color: white;
              width: 3px;
            }
          }
          .brand-info {
            padding-left: 60px;
            .title {
              font-size: 40px;
              color: white;
              letter-spacing: 2px;
            }
            .desc {
              color: gray;
              width: 650px;
            }
            button {
              display: inline;
              color: white;
              background-color: #d77b3d;
              padding: 10px 15px;
              font-weight: 600;
            }
            .brand-img {
              height: 250px;
              width: 300px;
              border: 4px solid #65637c;
              border-radius: 20px;
              overflow: hidden;
              margin-left: 70px;
              margin-top: 50px;
              box-shadow: -30px -30px 10px #353350;
              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
      .trend-products {
        background: linear-gradient(white, gray);
        padding-bottom: 50px;
        .container {
          .info {
            margin-top: 50px;
            .title {
              font-size: 30px;
              font-weight: bold;
            }
          }
          .product-swiper {
            .control-panel {
              position: relative;
              margin-top: 30px;
              background-color: whitesmoke;
              padding: 10px;
              border-radius: 10px;
              box-shadow: 0 0 5px rgb(92, 91, 91);
              button {
                padding: 10px 18px;
                border-radius: 20px;
                color: Black;
                font-size: 20px;
                transition: background-color 0.3s ease-in-out;
              }
              .active-btn {
                background-color: #1d1d1f;
                color: white;
              }
            }
            .swiper {
              margin-top: 70px;
              width: 100%;
              padding: 40px 20px;
              .product-card {
                box-shadow: 0 0 10px rgb(53, 53, 53);
                cursor: pointer;
                height: auto;
                width: 350px;
                background-color: whitesmoke;
                border-radius: 20px;
                padding: 50px 0;
                transition: all 0.3s ease-in-out;
                &:hover {
                  transform: scale(1.1);
                }
                .card-head {
                  img {
                    width: 80%;
                  }
                  .color-list {
                    .colr {
                      height: 15px;
                      width: 15px;
                      border-radius: 50%;
                      border: 1px solid black;
                    }
                  }
                }
                .card-body {
                  margin-top: 40px;
                  padding: 0 30px;
                  .name {
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 1px;
                  }
                }
                .card-footer {
                  button {
                    margin: 20px;
                    padding: 10px 15px;
                    background-color: #0071e3;
                    color: white;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
      .home-ads {
        background-image: url("/img/banner/pxfuel.jpg");
        padding: 50px 0 100px 0;
        padding-top: 50px;
        .container {
          position: relative;
          height: 80vh;
          video {
            height: 100%;
            width: 100%;
            border-radius: 30px;
            border: solid rgb(213, 211, 211);
            border-width: 30px 14px 10px 14px;
            object-fit: cover;
          }
          .camera {
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #343438;
            border: 5px solid black;
            top: 5px;
            left: 50%;
          }
          .monitor-footer {
            position: absolute;
            right: 20%;
            bottom: -50px;
            height: 50px;
            width: 60%;
            background-color: rgb(213, 211, 211);
          }
        }
      }
      .gaming-pc {
        background: linear-gradient(whitesmoke, gray);
        height: 500px;
        padding: 50px 0;
        .images {
          .img-big {
            height: 430px;
            width: 400px;
            border-radius: 50px 0 50px 0;
            border: 4px solid #353350;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              cursor: pointer;
              filter: grayscale(1);
              transition: all 0.3s ease-in-out;
              &:hover {
                filter: grayscale(0);
                transform: scale(1.1);
              }
            }
          }
          .img-little {
            height: 200px;
            width: 200px;
            border-radius: 30px 0 30px 0;
            border: 3px solid #353350;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              cursor: pointer;
              filter: grayscale(1);
              transition: all 0.3s ease-in-out;
              &:hover {
                filter: grayscale(0);
                transform: scale(1.1);
              }
            }
          }
        }
        .title {
          font-size: 30px;
          letter-spacing: 1px;
          font-weight: bold;
        }
        .subtitle {
          font-weight: 600;
          letter-spacing: 1px;
          text-align: center;
          margin-top: 20px;
          width: 80%;
          font-size: 14px;
        }

        .filter-search {
          .search-box {
            position: relative;
            margin-top: 56px;
            padding: 16px 29px;
            height: 96px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: #d77b3d;
            border-radius: 12px;
            .select-box {
              width: 390px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .box {
                padding: 24px 22px;
                width: 213px;
                height: 56px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-radius: 12px;
                background: rgba(255, 255, 255, 0.575);
                box-sizing: border-box;
                cursor: pointer;
                &.on {
                  background: #ffffff;
                  border: 1px solid #000;
                  color: #181a20;
                }
                span {
                  color: #181a20;
                  font-family: $font;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 26px;
                }
              }
            }
            .search-box-other {
              display: flex;
              flex-direction: row;
              align-items: center;
              .advanced-filter {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                  margin-right: 10px;
                  width: 25px;
                  height: 22px;
                  cursor: pointer;
                }
                span {
                  color: #fff;
                  font-family: $font;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  cursor: pointer;
                }
              }
              .search-btn {
                cursor: pointer;
                svg {
                  width: 20px;
                  height: 20px;
                  color: #ffffff;
                }
              }
            }
            .filter-location {
              position: absolute;
              padding: 40px 60px;
              width: 1094px;
              min-height: 120px;
              height: auto;
              top: 96px;
              right: 0px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 40px;
              visibility: hidden;
              border-radius: 12px;
              background: #ffffff;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              box-sizing: border-box;
              z-index: 2;
              &.on {
                visibility: visible;
                transition: 0.2s ease-out;
                background: #fffdfd;
              }
              div {
                width: 295px;
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                  width: 122px;
                  height: 85px;
                  border-radius: 15px;
                  cursor: pointer;
                }
                span {
                  margin-left: 22px;
                  color: #181a20;
                  font-family: $font;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  cursor: pointer;
                  text-transform: capitalize;
                }
                label {
                  line-height: 13px;
                }
              }
            }
            .filter-type {
              position: absolute;
              padding: 50px;
              width: 1094px;
              min-height: 120px;
              height: auto;
              top: 96px;
              right: 0px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              visibility: hidden;
              border-radius: 12px;
              background: #fff;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              box-sizing: border-box;
              z-index: 1;
              &.on {
                visibility: visible;
                transition: 0.2s ease-out;
                background: #fffdfd;
              }
              div {
                position: relative;
                width: 272px;
                height: 168px;
                border-radius: 15px;
                cursor: pointer;
                background-size: cover;
                span {
                  position: absolute;
                  top: 13px;
                  right: 12px;
                  padding: 1px 5px 5px 5px;
                  border-radius: 2px 2px 0px 0px;
                  font-family: $font;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 26px;
                  background: linear-gradient(
                    180deg,
                    #fff 0%,
                    rgba(255, 255, 255, 0) 100%
                  );
                  // -webkit-background-clip: text;
                  // -webkit-text-fill-color: transparent;
                  text-transform: capitalize;
                }
              }
            }
            .filter-rooms {
              position: absolute;
              padding: 10px 92px;
              width: 1094px;
              min-height: 120px;
              height: auto;
              top: 96px;
              right: 0px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              visibility: hidden;
              border-radius: 12px;
              background: #fff;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              box-sizing: border-box;
              z-index: 1;
              &.on {
                visibility: visible;
                transition: 0.2s ease-out;
                background: #fffdfd;
              }
              span {
                display: flex;
                align-items: center;
                padding: 10px 30px;
                border: 1px solid #fffdfd;
                color: #181a20;
                font-family: $font;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                cursor: pointer;
                &:hover {
                  border-radius: 5px;
                  border: 1px solid #b9b9b9;
                  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                }
              }
            }
          }
        }
      }
      .event {
        padding: 50px 0;
        background-color: #201f2f;
        height: auto;
        .container {
          .title {
            font-size: 30px;
            color: rgb(208, 206, 206);
            span {
              font-weight: bold;
              color: white;
            }
          }
          .event-swiper {
            padding: 30px 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .swiper-button-prev,
            .swiper-button-next {
              background-color: rgb(115, 111, 111);
              height: 60px;
              width: 60px;
              border-radius: 20px;
              transition: transform 0.3s ease-in-out;
              &::after {
                color: white;
              }
              &:hover {
                transform: scale(1.1);
              }
            }
            .swiper-next {
              height: 20px;
              width: 20px;
              background-color: white;
            }
            .card {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              height: 400px;
              width: 330px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              border-radius: 20px;
              box-shadow: 0 0 10px rgb(152, 152, 152);
              transition: transform 0.3s ease-in-out;
              &:hover {
                transform: translateY(-20px);
              }
              .title {
                position: absolute;
                top: 10px;
                left: 15px;
                font-size: 24px;
              }
              .context {
                position: relative;
                padding: 10px 15px;
                opacity: 0.8;
                background-color: whitesmoke;
                border-radius: 10px 0 10px 0;
                transition: opacity 0.3s ease-in-out;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .community-article {
        height: auto;
        padding: 30px 0 50px 0;
        background: linear-gradient(white, gray);
        .container {
          .title {
            text-align: start;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 30px;
          }
          .vertical-card {
            cursor: pointer;
            height: 420px;
            width: 300px;
            background-color: whitesmoke;
            border-radius: 20px;
            box-shadow: 0 0 10px black;
            overflow: hidden;
            .card-head {
              overflow: hidden;
              width: 100%;
              height: 300px;
              img {
                width: 100%;
                height: 100%;
                transition: transform 0.3s ease-in-out;
                &:hover {
                  transform: scale(1.2);
                }
              }
            }
            .card-body {
              padding: 10px;
              .category {
                display: inline-block;
                color: white;
                width: auto;
                margin-top: 10px;
                padding: 3px 7px;
                border-radius: 10px;
                background-color: #d77b3d;
                letter-spacing: 1px;
              }
              .title {
                margin: 10px 0;
                font-weight: 600;
                color: rgb(42, 41, 41);
                font-size: 20px;
              }
              .context {
                color: rgb(104, 103, 103);
                font-size: 14px;
              }
            }
            .card-footer {
              padding: 10px;
              .user-img {
                font-size: 40px;
              }
              .user-info {
                .name {
                  font-weight: bold;
                }
                .date {
                  color: rgb(104, 103, 103);
                  font-size: 14px;
                }
              }
              .link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: #4a2bb4;
                color: white;
              }
            }
          }
          .horizontal-card {
            padding: 7px;
            height: 200px;
            width: 600px;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 0 10px black;
            background-color: whitesmoke;
            .card-img {
              border-radius: 20px;
              height: 98%;
              width: 40%;
              overflow: hidden;
              img {
                height: 100%;
                width: 100%;
                transition: transform 0.3s ease-in-out;
                &:hover {
                  transform: scale(1.2);
                }
              }
            }
            .card-body {
              padding: 10px;
              width: 60%;
              .category {
                display: inline-block;
                padding: 3px 5px;
                letter-spacing: 1px;
                background-color: #596fb7;
                color: white;
                border-radius: 10px;
                margin: 10px 0;
              }
              .title {
                font-weight: 600;
                letter-spacing: 1px;
                color: rgb(42, 41, 41);
                font-size: 20px;
              }
              .context {
                color: rgb(104, 103, 103);
                font-size: 14px;
              }
              .user-info {
                margin: 5px 0;
                .user-img {
                  font-size: 30px;
                }
                .name {
                  font-weight: bold;
                }
              }
              .link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: #4a2bb4;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
.advanced-filter-modal {
  padding: 29px 0px 18px 0px;
  position: relative;
  width: 662px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .close {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f6f6;
    cursor: pointer;
  }
  .top {
    width: 580px;
    height: auto;
    display: flex;
    flex-direction: column;
    span {
      color: #181a20;
      font-family: $font;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    div.search-input-box {
      margin-top: 10px;
      padding: 18px 14px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 8px;
      border: 1px solid #ddd;
      img {
        width: 17px;
        height: 17px;
        filter: brightness(0%);
      }
      input {
        margin-left: 10px;
        width: 100%;
        height: 25px;
        color: #717171;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        border: none;
        outline: none;
      }
    }
  }
  hr {
    width: 100%;
  }
  .middle {
    position: relative;
    width: 593px;
    height: auto;
    display: flex;
    flex-direction: column;
    .row-box {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .box {
        position: relative;
        width: 285px;
        height: auto;
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 10px;
          color: #181a20;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
        }
        .inside {
          position: relative;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          &.space-between {
            justify-content: space-between;
          }
          &.align-center {
            align-items: center;
          }
          div.room {
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ddd;
            color: #181a20;
            font-family: $font;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
            &:first-child {
              border-radius: 12px 0px 0px 12px;
            }
            &:last-child {
              border-radius: 0px 12px 12px 0px;
            }
            &.active {
              border: 2px solid #181a20;
            }
          }
          select {
            padding-left: 13px;
            width: 100%;
            height: 46px;
            border-radius: 8px;
            border: 1px solid #ddd;
            color: #717171;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            appearance: none;
          }
          .arrow-down {
            position: absolute;
            width: 15px;
            height: 8px;
            color: #ddd;
            right: 12px;
            top: 21px;
          }
          .minus-line {
            width: 11px;
            height: 1px;
            background: #181a20;
          }
          em {
            color: #717171;

            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
          }
        }
      }
    }
  }
  .bottom {
    width: 604px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      span {
        color: #181a20;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
    button {
      width: 185px;
      height: 54px;
      border-radius: 12px;
      background: linear-gradient(90deg, #e8543e 0%, #ec6b57 100%);
      color: #fff;
      font-family: $font;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
